@import '~antd/dist/antd.css';

body {
    color: white;
    font-family: Helvetica Neue, serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: white;
    font-size: 4em;
    font-weight: 100;
    letter-spacing: 8px;
    text-align: center;
}
h3 {
    color: white;
    font-size: 1em;
    font-weight: 300;
    letter-spacing: 4px;
    text-align: center;
}

.welcome {
    background-size: cover;
    background: url('../assets/img/dp-bg.png') no-repeat center;
}
