@import '../../styles/index.css';

.connect-bar {
    background-color: black;
}

.active {
    border-left: 1px solid white;
    margin-left: -7px;
    opacity: 1;
    padding-left: 6px;
}

.active-mobile {
    opacity: 1;
}

.circle {
    background-color: #00263C;
    border-radius: 50%;
    box-shadow: 0 0 3px 2px rgba(0,0,0,.25);
    height: 50px;
    left: 11px;
    position: fixed;
    top: 11px;
    width: 50px;
}

.close-icon {
    margin-top: -50px;
}

.menu-item {
    padding: 8px 0;
}

.mobile-icon {
    padding: 20%;
}

.mobile-menu-container {
    opacity: .90;
    background-color: black;
    position: fixed;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 60px 40px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.mobile-nav {
    display: block;
    height: 100%;
    width: 100%;
}

.mobile-nav-container {
    margin-right: -30px;
    padding-left: 20px;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.nav-item {
    padding: 15px 0;
}

.navigation-bar {
    margin-left: -75px;
    padding: 20px;
    width: 5%;
}

