@import '../../styles/index.css';

.navigation-bar {
    height: inherit;
    padding: 20px;
    width: 5%;
}

.nav-item {
    padding: 15px 0;
}

.icon-link {
    opacity: 0.6;
}

.icon-link:hover {
    opacity: 1;
}

.active {
    opacity: 1;
}
