@import '../../styles/index.css';

.active {
    border-left: 1px solid white;
    margin-left: -7px;
    opacity: 1;
    padding-left: 6px;
}

.connect-bar {
    background-color: black;
}

.icon-link {
    opacity: 0.6;
}

.icon-link:hover {
    opacity: 1;
}

.menu-item {
    padding: 8px 0;
}

.nav-item {
    padding: 15px 0;
}

.navigation-bar {
    height: inherit;
    padding: 20px;
    width: 5%;
}

