@import '../styles/index.css';

.core {
    background-size: cover;
    background: url('../assets/img/dp-bg.png') no-repeat center;
    height: 100vh;
}

.navigation-bar {
    height: inherit;
    padding: 20px;
    width: 5%;
}
