@import '../styles/index.css';

.core {
    background-size: cover;
    background: linear-gradient(to bottom right, #083349, #146189);
    height: 100%;
}

.core-row {
    height: 98%;
}

.navigation-bar {
    height: inherit;
    padding: 20px;
    width: 5%;
}
