@import '../../utils/styles/index.css';

.avatar {
    border: 2px solid hsla(0,0%,93%,.42);
    border-radius: 50%;
}

.lg {
    height: 175px;
    width: 175px;
}

.md {
    height: 128px;
    width: 128px;
}

.sm {
    height: 64px;
    width: 64px;
}

.xl {
    height: 256px;
    width: 256px;
}

.xs {
    height: 48px;
    width: 48px;
}

.xxs {
    height: 32px;
    width: 32px;
}
